<h2><%= link_to("IRC Log Viewer", root_path) %> &raquo; <%= @irc_channel.name %></h2>
<% @log_files.each do |log_file| %>
  <span style="padding: 10px 8px 8px 10px;"><%= link_to(log_file.file_date, irc_channel_log_file_path(@irc_channel, log_file)) %></span>
<% end %>
