/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.log_entry_who {
  color: #d14;
}

.log_entry_when {
  text-align: center;
  color: #41d;
  width: 80px;
}

.log_cluster_separator {
  margin: 4px 0;
  border: 0;
  border-top: 1px solid rgb(221, 221, 221);
  border-bottom: 1px solid #ffffff;
  width: 100%;
}

input[type="submit"] {
  margin-bottom: 10px;
}

.named_a {
  color: #333;
}

.named_a:hover {
  color: #333;
  text-decoration: none;
  cursor: default;
}

.search_result {
  color: #FE1675;
}